
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>

    @RenderSection("Meta", false)
    <title>@ViewBag.title</title>

    <link rel="stylesheet" href="~/assets/vendor/animate/animate.css">

    <link rel="stylesheet" href="~/assets/css/bootstrap.css">

    <link rel="stylesheet" href="~/assets/css/maicons.css">

    <link rel="stylesheet" href="~/assets/vendor/owl-carousel/css/owl.carousel.css">

    <link rel="stylesheet" href="~/assets/css/theme.css">

</head>
<body>

    <!-- Back to top button -->
    <div class="back-to-top"></div>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light navbar-float">
            <div class="container">
                <a href="index.html" class="navbar-brand">Digi<span class="text-primary">Gram.</span></a>

                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse" id="navbarContent">
                    @*cách 1: *@
                    <ul class="navbar-nav ml-lg-4 pt-3 pt-lg-0">
                        <li class="nav-item @Html.Raw(ViewBag.active==1?"active":"")">
                            <a href="~/" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item @Html.Raw(ViewBag.active==2?"active":"")">
                            <a href="~/KhachHang/DanhSach" class="nav-link">Customer</a>
                        </li>
                        <li class="nav-item @Html.Raw(ViewBag.active==3?"active":"")">
                            <a href="~/service" class="nav-link">Services</a>
                        </li>
                        <li class="nav-item @Html.Raw(ViewBag.active==4?"active":"")">
                            <a href="~/new" class="nav-link">News</a>
                        </li>
                        <li class="nav-item @Html.Raw(ViewBag.active==5?"active":"")">
                            <a href="~/contact" class="nav-link">Contact</a>
                        </li>
                    </ul>

                    @*cách 2:
                            <ul class="navbar-nav ml-lg-4 pt-3 pt-lg-0">
                            @if (ViewBag.active == 1)
                            {
                                <li class="nav-item active">
                                    <a href="~/" class="nav-link">Home</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a href="~/" class="nav-link">Home</a>
                                </li>
                            }

                            @if (ViewBag.active == 2)
                            {
                                <li class="nav-item active">
                                    <a href="~/about" class="nav-link">About</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a href="~/about" class="nav-link">About</a>
                                </li>
                            }

                            @if (ViewBag.active == 3)
                            {
                                <li class="nav-item active">
                                    <a href="~/service" class="nav-link">Service</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a href="~/service" class="nav-link">Service</a>
                                </li>
                            }

                            @if (ViewBag.active == 4)
                            {
                                <li class="nav-item active">
                                    <a href="~/new" class="nav-link">News</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a href="~/new" class="nav-link">News</a>
                                </li>
                            }
                            @if (ViewBag.active == 5)
                            {
                                <li class="nav-item active">
                                    <a href="~/contact" class="nav-link">Contact</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a href="~/new" class="nav-link">News</a>
                                </li>
                            }
                        </ul>*@

                    <div class="ml-auto">
                        <a href="#" class="btn btn-outline rounded-pill">@ViewBag.nutbam</a>
                    </div>
                </div>
            </div>
        </nav>

        @*<div class="page-banner home-banner">
                <div class="container h-100">
                    <div class="row align-items-center h-100">
                        <div class="col-lg-6 py-3 wow fadeInUp">
                            <h1 class="mb-4">Great Companies are built on great Products</h1>
                            <p class="text-lg mb-5">Ignite the most powerfull growth engine you have ever built for your company</p>

                            <a href="#" class="btn btn-outline border text-secondary">More Info</a>
                            <a href="#" class="btn btn-primary btn-split ml-2">Watch Video <div class="fab"><span class="mai-play"></span></div></a>
                        </div>
                        <div class="col-lg-6 py-3 wow zoomIn">
                            <div class="img-place">
                                <img src="~/assets/img/bg_image_1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
    </header>

    @RenderBody() @*nếu k có renderbody sẽ báo lỗi*@

    <footer class="page-footer">
        <div class="container">
            <div class="row justify-content-center mb-5">

                @RenderSection("LienHe", false)

                @*
                        đoạn sẽ thay đổi khi view khác nhau
                    <div class="col-lg-3 py-3">
                        <h3>Digi<span class="text-primary">Gram.</span></h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>

                        <p><a href="#">digigram@mail.com</a></p>
                        <p><a href="#">+00 1122 3344 5566</a></p>
                    </div>
                *@


                <div class="col-lg-3 py-3">
                    <h5>Quick Links</h5>
                    <ul class="footer-menu">
                        <li><a href="#">How it works</a></li>
                        <li><a href="#">Security</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Resources</a></li>
                        <li><a href="#">Report a Bug</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 py-3">
                    <h5>About Us</h5>
                    <ul class="footer-menu">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Jobs</a></li>
                        <li><a href="#">Our Teams</a></li>
                        <li><a href="#">Testimonials</a></li>
                        <li><a href="#">News & Press</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 py-3">
                    <h5>Subscribe</h5>
                    <form action="#">
                        <input type="text" class="form-control" placeholder="Enter your mail~">
                    </form>

                    <div class="sosmed-button mt-4">
                        <a href="#"><span class="mai-logo-facebook-f"></span></a>
                        <a href="#"><span class="mai-logo-twitter"></span></a>
                        <a href="#"><span class="mai-logo-google"></span></a>
                        <a href="#"><span class="mai-logo-linkedin"></span></a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 py-2">
                    <p id="copyright">

                    </p>
                </div>
                <div class="col-sm-6 py-2 text-right">
                    <div class="d-inline-block px-3">
                        <a href="#">Privacy</a>
                    </div>
                    <div class="d-inline-block px-3">
                        <a href="#">Contact Us</a>
                    </div>
                </div>
            </div>
        </div> <!-- .container -->
    </footer> <!-- .page-footer -->


    <script src="~/assets/js/jquery-3.5.1.min.js"></script>

    <script src="~/assets/js/bootstrap.bundle.min.js"></script>

    <script src="~/assets/vendor/wow/wow.min.js"></script>

    <script src="~/assets/vendor/owl-carousel/js/owl.carousel.min.js"></script>

    <script src="~/assets/vendor/waypoints/jquery.waypoints.min.js"></script>

    <script src="~/assets/vendor/animateNumber/jquery.animateNumber.min.js"></script>

    <script src="~/assets/js/google-maps.js"></script>

    <script src="~/assets/js/theme.js"></script>

    @RenderSection("doanJS", false) @*đẩy từ view sang layout*@
</body>
</html>